@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: "Inter", sans-serif;
    --background: #ffffff;
    --foreground: #171717;
    --blue-nav: #281e9b;
    --content: #f8f8f8;
    --label: #474747;
    --chip-bg: #e8e2e2;
    --chip-bg-active: #d2e3df;
    --chip-text: #4d4d52;
    --chip-text-active: #004736;
    --card-desc: #2d2d2d;
    --card-time: #1E1E1E;
  }

  body {
    @apply bg-black min-h-screen flex flex-col;
  }

  h1 {
    @apply text-white text-[24px] lg:text-[36px] leading-[29.05px] lg:leading-[43.57px] font-[700];
  }

  .card-description {
    @apply text-[12px] leading-[14.52px] text-cardDescription font-[400];
  }
}

body {
  font-family: "Inter", sans-serif;
}

.japanese {
  font-family: "Noto Sans JP", sans-serif;
}

@layer components {
  .navbar {
    @apply relative z-10 bg-blueNav py-[18px] lg:py-[14.5] px-5 rounded-ss-[30px] lg:rounded-ss-[35px] rounded-se-[30px] lg:rounded-se-[35px] shadow-custom-drop;
  }

  .content {
    @apply h-full px-6 py-9 lg:py-[46px] lg:px-0 bg-content flex-1 rounded-bl-[30px] lg:rounded-bl-[35px] rounded-br-[30px] lg:rounded-br-[35px];
  }

  .filter-wrapper {
    @apply flex items-center p-[10px];
  }

  .filter-title {
    @apply text-label text-[12px] leading-[14.52px] font-[700];
  }

  .chip {
    @apply bg-chipBg uppercase text-chipText text-[12px] leading-[14.52px] font-[700] px-[15px] py-[5px] rounded-[100px];
  }

  .chip-active {
    @apply bg-chipBgActive text-chipTextActive;
  }

  .content-list {
    @apply flex flex-col gap-[10px] mt-[10px];
  }

  .card {
    @apply bg-white p-[10px] flex justify-between items-center;
  }

  .card-title {
    @apply text-cardDescription text-[18px] leading-[26.06px] font-[700];
  }

  .card-time {
    @apply text-cardTime text-[12px] leading-[14.52px] font-[400];
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
