@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', sans-serif;
    --background: #ffffff;
    --foreground: #171717;
    --blue-nav: #281e9b;
    --content: #f8f8f8;
    --label: #474747;
    --chip-bg: #e8e2e2;
    --chip-bg-active: #d2e3df;
    --chip-text: #4d4d52;
    --chip-text-active: #004736;
    --card-desc: #2d2d2d;
    --card-time: #1e1e1e;
  }

  body {
    @apply flex min-h-screen flex-col bg-black;
  }

  h1 {
    @apply text-[24px] font-[700] leading-[29.05px] text-white lg:text-[36px] lg:leading-[43.57px];
  }

  .card-description {
    @apply text-[12px] font-[400] leading-[14.52px] text-cardDescription;
  }
}

body {
  font-family: 'Inter', sans-serif;
}

.japanese {
  font-family: 'Noto Sans JP', sans-serif;
}

@layer components {
  .navbar {
    @apply relative z-10 rounded-se-[30px] rounded-ss-[30px] bg-blueNav px-5 py-[18px] shadow-custom-drop lg:rounded-se-[35px] lg:rounded-ss-[35px] lg:py-[14.5];
  }

  .content {
    @apply h-full flex-1 rounded-bl-[30px] rounded-br-[30px] bg-content px-6 py-9 lg:rounded-bl-[35px] lg:rounded-br-[35px] lg:px-0 lg:py-[46px];
  }

  .filter-wrapper {
    @apply flex items-center p-[10px];
  }

  .filter-title {
    @apply text-[12px] font-[700] leading-[14.52px] text-label;
  }

  .chip {
    @apply rounded-[100px] bg-chipBg px-[15px] py-[5px] text-[12px] font-[700] uppercase leading-[14.52px] text-chipText;
  }

  .chip-active {
    @apply bg-chipBgActive text-chipTextActive;
  }

  .content-list {
    @apply mt-[10px] flex flex-col gap-[10px];
  }

  .card {
    @apply flex items-center justify-between bg-white p-[10px] pr-[20px];
  }

  .card-title {
    @apply text-[18px] font-[700] leading-[26.06px] text-cardDescription;
  }

  .card-time {
    @apply text-[12px] font-[400] leading-[14.52px] text-cardTime;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
